.box {
  width: 250px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
